@import "variables";

@mixin popup_body($width, $radius, $shadow, $position, $mleft, $zindex, $padding) {
  top: 50%;
  left: 50%;
  padding: $padding;
  background: #FFFFFF;
  transform: translateY(-50%);
  width: $width;
  position: $position;
  margin-left: $mleft;
  box-shadow: $shadow;
  z-index: $zindex;
  border-radius: $radius;
}

@mixin ico_size($right, $ico_url, $bgsize) {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
  right: $right;
  background: url($ico_url) center no-repeat;
  -webkit-background-size: $bgsize;
  background-size: $bgsize;
}

@mixin popup_form_label() {
  position: relative;
  background: #DEE7E9;
  border-radius: 3px;
  margin: 0 5px 5px 0;
}

@mixin popup_form_label_text() {
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin popup_inside_item() {
  font: 400 16px "Roboto", sans-serif;
  cursor: pointer;
  position: relative;
  max-width: 250px;
}

@mixin popup_inside_item_condition() {

  &.check {
    font-weight: 500;

    &:before {
      content: '';
      position: absolute;
      right: 13px;
      top: 50%;
      width: 14px;
      height: 11px;
      margin-top: -5px;
      background: url("../img/ico-check.png") center no-repeat;
      background-size: 14px 11px;
    }
  }

  &:after {
    content: '';
    clear: both;
    display: table;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: #EBEFF2;
    border-radius: 3px;
  }
}

@mixin styles_placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

@mixin create_btn($fweight, $width, $color, $mleft) {
  font: $fweight 16px "Roboto", sans-serif;
  line-height: 18px;
  color: $color;
  text-align: center;
  width: $width;
  border-radius: 4px;
  padding: 8px 10px;
  cursor: pointer;
  margin-left: $mleft;
}

@mixin delete_popup_btns($fweight, $fsize, $float, $color) {
  font: $fweight $fsize 'Roboto', sans-serif;
  width: 120px;
  height: 36px;
  border-radius: 4px;
  color: $color;
  cursor: pointer;
  float: $float;
}

@mixin delete_popup_text($fweight, $fsize) {
  font: $fweight $fsize 'Roboto', sans-serif;
  color: #000;
  text-align: center;
}

@mixin gradient_btn($border-color, $bg-start, $bg-end) {
  border: 1px solid $border-color;
  background: $bg-start;
  background: -moz-linear-gradient(top,  $bg-start 0%, $bg-end 100%);
  background: -webkit-linear-gradient(top,  $bg-start 0%,$bg-end 100%);
  background: linear-gradient(to bottom,  $bg-start 0%,$bg-end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$bg-start', endColorstr='$bg-end',GradientType=0 );
}

@mixin overview($bg-color) {
  background: $bg-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@mixin clearfix() {
  content: '';
  display: table;
  clear: both;
}


@mixin default-btn() {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: $fontFamily;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  padding: 0 25px;
  border-radius: 3px;
}

@mixin confirm-btn() {
  color: $white-color;
  border: 1px solid $btn-confirm-border-color;
  background: #379af1;
  transition: background .2s, padding .2s;
  background: -moz-linear-gradient(top,  #379af1 0%, #1f89e5 100%);
  background: -webkit-linear-gradient(top,  #379af1 0%,#1f89e5 100%);
  background: linear-gradient(to bottom,  #379af1 0%,#1f89e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379af1', endColorstr='#1f89e5',GradientType=0 );
  &:hover {
    border: 1px solid #1d84de;
    background: #3eb7ea;
    background: -moz-linear-gradient(top,  #3eb7ea 0%, #1d84de 100%);
    background: -webkit-linear-gradient(top,  #3eb7ea 0%,#1d84de 100%);
    background: linear-gradient(to bottom,  #3eb7ea 0%,#1d84de 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3eb7ea', endColorstr='#1d84de',GradientType=0 );
  }
  &:active {
    border: 1px solid #1d74de;
    background: #1d74de;
    background: -moz-linear-gradient(top,  #1d74de 0%, #3699f0 100%);
    background: -webkit-linear-gradient(top,  #1d74de 0%,#3699f0 100%);
    background: linear-gradient(to bottom,  #1d74de 0%,#3699f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d74de', endColorstr='#3699f0',GradientType=0 );
  }
  &:focus {
    border: 1px solid #332da0;
    background: #379af1;
    background: -moz-linear-gradient(top,  #379af1 0%, #1f89e5 100%);
    background: -webkit-linear-gradient(top,  #379af1 0%,#1f89e5 100%);
    background: linear-gradient(to bottom,  #379af1 0%,#1f89e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379af1', endColorstr='#1f89e5',GradientType=0 );
  }
  &:disabled {
    background: #f3f6f8;
    color: #ababb1;
    border: 1px solid #cfd8dc;
  }
}

@mixin text-btn() {
  color: #546e7a;
  border: 1px solid transparent;
  background: transparent;
  transition: background .2s, padding .2s;
  &:hover {
    background: #eceff1;
  }
  &:active {
    background: #cfd8dc;
  }
  &:focus {
    background: #f3f6f8;
  }
  &:disabled {
    color: #b1b1b6;
  }
}

@mixin warn-btn() {
  color: $white-color;
  background: #e9484b;
  transition: background .2s, padding .2s;
  border: 1px solid $btn-warn-border-color;
  background: -moz-linear-gradient(top,  #e9484b 0%, #cc383b 100%);
  background: -webkit-linear-gradient(top,  #e9484b 0%,#cc383b 100%);
  background: linear-gradient(to bottom,  #e9484b 0%,#cc383b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379af1', endColorstr='#cc383b',GradientType=0 );
  &:hover {
    border: 1px solid #bd3336;
    background: #ef6c5a;
    background: -moz-linear-gradient(top,  #ef6c5a 0%, #cc393b 100%);
    background: -webkit-linear-gradient(top,  #ef6c5a 0%,#cc393b 100%);
    background: linear-gradient(to bottom,  #ef6c5a 0%,#cc393b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6c5a', endColorstr='#cc393b',GradientType=0 );
  }
  &:active {
    border: 1px solid #bb2629;
    background: #1d74de;
    background: -moz-linear-gradient(top,  #bc272a 0%, #cc383b 100%);
    background: -webkit-linear-gradient(top,  #bc272a 0%,#cc383b 100%);
    background: linear-gradient(to bottom,  #bc272a 0%,#cc383b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc272a', endColorstr='#cc383b',GradientType=0 );
  }
  &:focus {
    border: 1px solid #98292b;
    background: #e9484b;
    background: -moz-linear-gradient(top,  #e9484b 0%, #cc383b 100%);
    background: -webkit-linear-gradient(top,  #e9484b 0%,#cc383b 100%);
    background: linear-gradient(to bottom,  #e9484b 0%,#cc383b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9484b', endColorstr='#cc383b',GradientType=0 );
  }
  &:disabled {
    background: #f3f6f8;
    color: #ababb1;
    border: 1px solid #cfd8dc;
  }
}

@mixin secondary-btn() {
  color: #455a64;
  background: #eceff1;
  transition: background .2s, padding .2s;
  border: 1px solid #b0bec5;
  background: -moz-linear-gradient(top,  #eceff1 0%, #d0d9dd 100%);
  background: -webkit-linear-gradient(top,  #eceff1 0%,#d0d9dd 100%);
  background: linear-gradient(to bottom,  #eceff1 0%,#d0d9dd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#d0d9dd',GradientType=0 );
  &:hover {
    border: 1px solid #b0bec5;
    background: #f8feff;
    background: -moz-linear-gradient(top,  #f8feff 0%, #d9e1e3 100%);
    background: -webkit-linear-gradient(top,  #f8feff 0%,#d9e1e3 100%);
    background: linear-gradient(to bottom,  #f8feff 0%,#d9e1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8feff', endColorstr='#d9e1e3',GradientType=0 );
  }
  &:active {
    border: 1px solid #b0bec5;
    background: #c4cdd1;
    background: -moz-linear-gradient(top,  #c4cdd1 0%, #ebeef0 100%);
    background: -webkit-linear-gradient(top,  #c4cdd1 0%,#ebeef0 100%);
    background: linear-gradient(to bottom,  #c4cdd1 0%,#ebeef0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4cdd1', endColorstr='#ebeef0',GradientType=0 );
  }
  &:focus {
    border: 1px solid #889398;
    background: #eceff1;
    background: -moz-linear-gradient(top,  #eceff1 0%, #d0d9dd 100%);
    background: -webkit-linear-gradient(top,  #eceff1 0%,#d0d9dd 100%);
    background: linear-gradient(to bottom,  #eceff1 0%,#d0d9dd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#d0d9dd',GradientType=0 );
  }
  &:disabled {
    background: #f3f6f8;
    color: #ababb1;
    border: 1px solid #cfd8dc;
  }
}























