<h1>
  {{title}}
</h1>
<button a-button class="btn_primary"> btn_primary button</button>
<button a-button class="btn_primary" [pending]="true"> btn_primary pending</button>
<button a-button class="btn_primary" [disabled]="true"> btn_primary disabled</button>
<button a-button class="btn_primary" [disabled]="true" [pending]="true"> btn_primary button</button>
<hr>

<button a-button class="btn_warn"> btn_warn button</button>
<button a-button class="btn_warn" [pending]="true"> btn_warn pending</button>
<button a-button class="btn_warn" [disabled]="true"> btn_warn disabled</button>
<button a-button class="btn_warn" [disabled]="true" [pending]="true"> btn_warn button</button>

<hr>
<button a-button class="btn_text"> btn_text button</button>
<button a-button class="btn_text" [pending]="true"> btn_text pending</button>
<button a-button class="btn_text" [disabled]="true"> btn_text disabled</button>
<button a-button class="btn_text" [disabled]="true" [pending]="true"> btn_text button</button>


<hr>
<button a-button class="btn_secondary"> btn_secondary button</button>
<button a-button class="btn_secondary" [pending]="true"> btn_secondary pending</button>
<button a-button class="btn_secondary" [disabled]="true"> btn_secondary disabled</button>
<button a-button class="btn_secondary" [disabled]="true" [pending]="true"> btn_secondary button</button>
